/* Общие стили */
.containerf {
  max-width: 700px; /* Ширина контейнера формы */
  margin: 0 auto; /* Центрирование контейнера по горизонтали */
  border-radius: 26px;
  border: 3px solid #495895;
  padding: 2em;
}

.form-group {
  width: 50%;
  margin-bottom: 20px; /* Отступ между группами полей */
}

label {
  display: block; /* Каждая метка на новой строке */
  font-weight: bold; /* Жирный шрифт для меток */
}

input[type="text"],
input[type="password"],
select {
  width: 100%; /* Занимать всю доступную ширину контейнера */
  padding: 10px; /* Поля ввода */
  border: 1px solid #ccc; /* Граница поля ввода */
  border-radius: 5px; /* Скругление углов */
  box-sizing: border-box; /* Размеры с учетом границы и отступов */
}

select {
  appearance: none; /* Убираем стандартные стрелки у выпадающего списка */
}

/* Стили для радио-кнопок */
.radio {
  margin-bottom: 10px; /* Отступ между радио-кнопками */
}

.radio label {
  display: block; /* Каждая радио-кнопка на новой строке */
}

/* Стили для кнопки */
button {
  padding: 10px 20px; /* Размеры кнопки */
  border: none; /* Убираем границу */
  border-radius: 5px; /* Скругление углов */
  background-color: #495895; /* Цвет фона кнопки */
  color: white; /* Цвет текста кнопки */
  cursor: pointer; /* Курсор при наведении */
  transition: 0.3s ease;
}
button[disabled] {
  background-color: #495895;
  cursor: default;
}
.has-error{
  color: #b90f6a;
}
button:not([disabled]):hover {
  background-color: #8290ef; 
}
fieldset{
  display: flex;
}