body {
  font-family: 'Lucida Sans Unicode';
  background: radial-gradient(circle at 50% 50%, #168328, #0c4417);
}

button {
  margin: 0 10px 0 10px;
  background-color: #333; 
  color: #fff; 
  font-size: 16px; 
  padding: 10px 20px; 
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
  transition: ease 0.3s;
}
button:hover {
  background-color: #555; 
}

form {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 50px;
}

p {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.card, .card-red {
  height: 150px;
  width: 100px;
  background-color: #BFBFBF;
  border-radius: 5px;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

.card-red {
  color: red;
}

.cards {
  margin: 0 auto;
}

.input-bet {
  display: flex;
  justify-content: center;
}
