<!-- <app-header></app-header>
<app-content></app-content>
<app-footer></app-footer> -->
<!-- <app-btn/> -->

<!-- <app-authots-and-books/> -->
<!-- <app-apple></app-apple> -->

<!-- <app-parent/> -->
<!-- <app-pets></app-pets> -->
<!-- <app-tasks></app-tasks> -->
<!-- <app-pow></app-pow> -->
<!-- <app-products></app-products> -->
<!-- <app-form1></app-form1> -->

<!-- <app-header></app-header> -->
<!-- <app-form1></app-form1> -->

<!-- <app-form-hw></app-form-hw> -->

<!-- <app-rform></app-rform> -->

<!-- <app-cocktails></app-cocktails> -->
<app-films></app-films>
<!-- <router-outlet /> -->

<!-- <app-http></app-http> -->
