body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(14, 0, 20);
    color: white;
}
form{
    width: 300px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 20px;
}
form input[type='submit']{
    width: 100%;
}
form input[type='text'],select{
    width: 60%;
}
form select{
    width: 63%;
}
.row{
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
}
#foundedMovie{
    width: 50%;
    margin: 5% 0;
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 270px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 5px 5px;
    display: flex;
    color: whitesmoke;
  }
  
  .card h2 {
    margin-top: 0;
    font-size: 24px;
  }
  
  .card p {
    margin-bottom: 10px;
    font-size: 16px;
  }
   .card img {
    width: 100%;
    height:auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .info{
    padding: 10px;
  }

  #foundedMovie{
    display: flex;
    overflow: hidden;
    justify-content: space-between;
  }
    
.pagination{
  display: flex;
  width: 80px;
  height: 20px;
  justify-content: space-around;
  align-items: center;
}
#movieInfo{
  width: 50%;
  margin: 5% 0;
  border-radius: 26px;
  border: 5px solid rgb(255, 213, 136);
  display: flex;
  padding: 20px;
  justify-content: space-between;
  display: none;
}
#movieInfo img{
    width: auto; 
    height: auto;
    margin-right: 30px;
}
.details {
  background-color: whitesmoke; 
  color: rgb(14, 0, 20); 
  border: none; 
  padding: 8px 26px;
  border-radius: 8px; 
  cursor: pointer; 
  font-size: 14px; 
  transition: 0.3s ease; 
}

.details:hover {
  background-color: rgb(194, 194, 194);
}
